/*
 * Empty Stylesheet file.
 */

.Toolbar {
    -fx-pref-height:50px;
    -fx-background-color:  #3F51B5;
}
.VBox_Inspector {
    -fx-border-radius: 5;
    -fx-border: 1;
    -fx-border-color: #004887;
}
.date-picker-display-node{
    -fx-alignment:CENTER;
}
.jfx-hamburger {
	-fx-background-color:  #3F51B5;
}

.jfx-hamburger StackPane {
	-fx-background-color: white;
}

/*Buttons*/
/*.btn_customer_new {
    -fx-pref-height:50px;   
    -fx-pref-width:50px;
    -fx-background-color: #ff4081;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.30), 6.0, 0.3, 0,1);
}*/
